
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Listening task</title>
    <style>
      body {
        margin: 0;
      }
      header {
        background: #4169E1;
        height: 200px;
      }
      h1 {
        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 300%;
        text-align: center;
        line-height: 200px;
        margin: 0;
      }
	  article {
        padding: 10px;
        margin: 10px;
        flex: 1;
      }
		section1{
			display: flex;
			flex-flow: row wrap;
		}
    </style>
  </head>
  <body>
    <header>
      <h1>Variants</h1>
    </header>
	<section1><article>
		<p>1. <a href='/var1'>Variant 1</a></p> 
		<p>2. <a href='/var2'>Variant 2</a></p>
		<p>3. <a href='/var3'>Variant 3</a></p>
		<p>4. <a href='/var4'>Variant 4</a></p>
		<p>5. <a href='/var5'>Variant 5</a></p>
		<p>6. <a href='/var6'>Variant 6</a></p>
		<p>7. <a href='/var7'>Variant 7</a></p>
		<p>8. <a href='/var8'>Variant 8</a></p>
		<p>9. <a href='/var9'>Variant 9</a></p>
		<p>10. <a href='/var10'>Variant 10</a></p>
		<p>11. <a href='/var11'>Variant 11</a></p>
		<p>12. <a href='/var12'>Variant 12</a></p>
	</article></section1>
  </body>
</html>